.flex{
  display: flex;

  flex-wrap: wrap;
}
.f{
  background-color: pink;
  padding: 1vw;
   margin: 1vw;
   border-radius: 35%;
}
.m{
  background-color: rgb(0, 162, 255);
  padding: 1vw;
  margin: 1vw;
  border-radius: 35%;
}
